<h1>puns</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<!-- <% @puns.each do |pun| %>
  <tr>
    <td><%= pun.content %></td>
    <td><%= pun.user_id %></td>
    <td><%= link_to 'Show', pun %></td>
    <td><%= link_to 'Edit', edit_pun_path(pun) %></td>
    <td><%= link_to 'Destroy', pun, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table> -->

<% @puns.each do |pun| %>
  <ul>
    <li><%= pun.content %>
    <span class="user"><%= pun.user_id %></span> --
    <span class="crud>"<%= link_to 'Show', pun %>
    <%= link_to 'Edit', edit_pun_path(pun) %>
    <%= link_to 'Destroy', pun, confirm: 'Are you sure?', method: :delete %></span>
  </ul>
<% end %>



<br />

<%= link_to 'New Pun', new_pun_path %>
